@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
#ETERNAL {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
}

h1 {
  font-family: "Poppins";
}

.bg-img {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

/* Global Style */

.padding-top {
  padding-top: 90px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  font-size: 1.5rem;
}

.backgroundColor {
  background-color: rgb(244, 251, 255);
}
/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  ...;
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
  ...;
} */

/* Large devices (desktops, 992px and up) */

.about .container p {
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .aboutPage .container p {
    font-size: 23px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  ...;
} */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
  ...;
} */

#admin-form-parent {
  font-size: 1rem;
}

/* NavbarComponent Style */
.navbar-geming {
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.342);
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.navbar {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar-toggle {
  margin: 0 5%;
}

#navlink {
  color: #2b3132;
}

#navlink:hover {
  color: #f95852;
}

.navbar.color-active {
  padding: 15px 0;
  background-color: white;
  border-bottom: 2px solid #f9575241;
}

.navbar.color-active #navlink {
  color: #2b3132;
}

.navbar.color-active #navbar-brand-id {
  color: #3e4647;
}

.navbar.color-active #navlink:hover {
  color: #f95852;
}

#navbar-brand-id {
  font-family: "Gabarito";
  font-weight: 590;
  font-size: 1rem;
  color: #3e4647;
}

.navbar-nav a {
  font-family: "Poppins";
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

@media (min-width: 320px) {
  #navbar-brand-id {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  #navbar-brand-id {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav a {
    font-size: 1.5rem;
  }
  #navbar-brand-id {
    font-size: 2.1rem;
  }
}

/* RegisterPage Style */

#register-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-id input {
  margin: 15px;
  font-size: 1.1rem;
}

/* Thumbnail Style */

.homepage {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* AboutPage Style */

.aboutPage {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 251, 255);
}

.col {
  justify-content: center;
  align-items: center;
}

.img-size {
  max-width: 70% !important;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#aboutP {
  font-size: 15px;
}

@media (min-width: 576px) {
  #aboutP {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .img-size {
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
  #aboutP {
    font-size: 1.3rem;
  }
}

/* Headline News Style */

.headlineNews {
  display: none;
}

.about p {
  font-size: 23px;
}

/* newspage css */

.news {
  display: none;
}

.newspage {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.card {
  height: 40;
}

/* Merch Style */
.merchPage {
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 251, 255);
}

/* Schedule Style */

/* Footer Style */
.footer {
  background-color: white;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #f95852;
  outline: 1px solid #f95852;
}
