* {
  font-family: "Poppins", sans-serif;
}

/* Global Style */
.container {
  border: 1px solid red; /* Buat Gampang Liat Posisi */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  font-size: 1.5rem;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  ...;
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
  ...;
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  ...;
} */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  ...;
} */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
  ...;
} */

#admin-form-parent {
  font-size: 1rem;
}

/* NavbarComponent Style */
.navbar {
  background-color: rgb(90, 90, 90);
  display: flex;
  position: fixed;
}

@media (min-width: 992px) {
  .navbar-nav a {
    font-size: 1.3rem;
  }
  #navbar-brand-id {
    font-size: 1.5rem;
  }
}

/* RegisterPage Style */

#register-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-id input {
  margin: 15px;
  font-size: 1.1rem;
}

/* Thumbnail Style */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
  height: auto;
  width: 100vw;
  background-color: red;
}

/* AboutPage Style */

.col {
  justify-content: center;
  align-items: center;
}
